Q.1 What are data structures, and why are they important?
 - Data structures are a way of organizing and storing data in a computer so that it can be used efficiently.
   it's important because they allow for efficient data access, manipulation and storage, better code organization.

Q.2 Explain the difference between mutable and immutabledata types with examples.
 - Mutable data type is type of data where the data can be change.
   EX:- Lists
   Immutable data type is type of data where the data can't be change.
   Ex:- tuples.

Q.3 What are the main difference between lists and tuples in python?
  - Lists are mutable that means their elements can be change but tuples are immutable that means their elements are not change.

Q.4 Describe how dictionaries store data.
  - Dictionaries are unordered collection of data and are represented with curly brackets {}. here data is stored in key : value pair format.

Q.5 Why might you use a set instead of a list in python?
  - Set is used instead of list in python because they are highly optimized for membership tests. set use less memory than lists and are less computationally expensive.

Q.6 What is a string in python, and how is different from a list?
  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything( an integer, a float, a string etc ).

Q.7 How do tuples ensure data integrity in python?
  - Tuples in python ensure data integrity primarily through their immutability. once a tuple is created, it's element cannot be modified, added or removed. this characteristic is maintain the reliability of data.

Q.8 What is a hash table and how does it relate to dictionaries in python?
  - A hash table is a data structure that stores data in key value pairs. where each key is unique and is associated with a specific value. it uses a hash function to compute an index for each key, which is then used to determine the location of the corresponding value in an underlying array.
  In python dictionaries are implemented using hash table. the key in a dictionary are hashed using the built in hash () fuction and the resulting hash value are used to store and retrieve the corresponding values.

Q.9 Can lists contain different data types in python?
 - yes, lists are contain different data types in pyhton.

Q.10 Explain why strings are immutable in python?
  - When a string reference is reinitialixed with a new value. it is creating a new object rather than overwriting the previous value. in pyhton strings are made immutable so that programmers cannot alter the contents of the object.

Q.11 What advantages do dictionaries offer over lists for certain tasks?
  - A list can store any data type. in contrast keys in the dictionary can be of any immutable data type and value can be of any data type. lists perform faster for ordered operations like sorting. while dictionaries perform faster for lookup operations.

Q.12 Describe a scenario where using a tuple would be preferable over a list.
  - In case of profile user name and user id of a bank account built by tuple would be preferable over a list. because the user id and profile user name not change due to safty region. here tuple use as string.

Q.13 How do sets handle duplicate values in python?
  - In python, sets are designed to store only unique elements. when you attempt to add a duplicate value to a set, it does not raise an error but it also does not add the duplicate, it simply ignores the attempt to add the duplicate.

Q.14 How does the "in" keyword work differently for lists and dictionaries?
  - in keyword can be used to test whether certain characters are present in a string or a certain value present in a list or tuple.
  the in operation for the dictionary tests on keys. the key of the dictionary is a unique value as well as the set.

Q.15 Can you modify the elements of a tuple? Explain why or why not.
  - No, cannot directly modify the elements of a tuple after it has been created. tuples are immutable data structures, meaning their contents cannot be changed, added or removed from once they are defined.

Q.16 What is a nested dictionary and give an example of its use case?
  - Nested dictionaries are dictionaries that are stored as values within another divtionary.
  use case:-
           organizing hierarchical data, storing complex data, modeling entities with relationships.

Q.17 Describe the time complexity of accessing elements in a dictionary.
  - Accessing an element in a dictionary typically has an average time complexity of O(1). meaning it takes constant time regardless of the dictionary's size. this due to the use of a hash table, which allows for direct lookup of elements based on thier key.

Q.18 In what situations are lists preferred over dictionaries?
  - For quick data look ups, configurations or caches favor dictionaries. for ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q.19 Why are dictionaries considered unordered and how does that affect data retrieval?
  - Dictionaries are unordered because python dictionaries are not intended to be in order. if we want to collect a set of objects on order, we have only one choice of accessing them through index.

Q.20 Explain the difference between a list and a dictionary in terms of data retrival.
  - In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. this means that to retrieve a specific element from a list, use its numarical position. where as for a dictionary, use the associated key to find the corresponding value.

In [ ]:
#Q.1 Write a code to create a string with your name and print it.
a = ("my name is rakesh")
print(a)
type(a)

my name is rakesh

str

In [ ]:
#Q.2 Write a code to find the length of the string "Hello World"
b = ("Hello World")
len(b)

11

In [ ]:
#Q.3 Write a code to slice the first 3 characters from the string "python programming".
c = ("python programming")
c[0:3]

'pyt'

In [ ]:
#Q.4 Write a code to convert the string "hello" to uppercase.
b = ("hello")
b.upper()

'HELLO'

In [ ]:
#Q.5 Write a code to replace the word "apple" with "orange" in the string " i like apple".
d = ("i like apple")
d.replace("apple","orange")

'i like orange'

In [ ]:
#Q.6 Write a code to create a list with numbers 1 to 5 and print.
nums = range(1,6)
print(list(nums))

[1, 2, 3, 4, 5]

In [ ]:
#Q.7 Write a code to append the number 10 to the list [1,2,3,4]
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#Q.8 Write a code to remove the number 3 from the list [1,2,3,4,5]
list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [ ]:
#Q.9 Write a code to access the second element in the list ["a", "b", "c", "d"]
list3 = ["a", "b", "c", "d"]
print(list3[1])

b

In [ ]:
#Q.10 Write a code to reverse the list [10,20,30,40,50]
list1 = [10,20,30,40,50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#Q.11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100,200,300)
print(tuple1)
type(tuple1)

(100, 200, 300)

tuple

In [ ]:
#Q.12 Write a code to access the second to last element of the tuple ("red", "green", "blue", "yellow")
tuple2 = ("red", "green", "blue", "yellow")
print(tuple2[1:4])

('green', 'blue', 'yellow')

In [1]:
#Q.13 Write a code to find the minimum number in tuple (10,20,5,15).
tuple3 = (10,20,5,15)
print(min(tuple3))

5

In [2]:
#Q.14 Write a code to find the index of the element "cat" in the tuple ("dog","cat","rabbit")
tuple4 = ("dog","cat","rabbit")
print(tuple4.index("cat"))

1

In [3]:
#Q.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","banana","kiwi")
if "kiwi" in fruits:
  print("kiwi is in fruits")
else:
  print("kiwi is not in fruits")

kiwi is in fruits

In [4]:
#Q.16 Write a code to create a set with the elements "a","b","c" and print it.
set1 = {"a","b","c"}
print(set1)
type(set1)

{'c', 'a', 'b'}

set

In [5]:
#Q.17 Write a code to clear all elements from the set {1,2,3,4,5}
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [6]:
#Q.18 Write a code to remove the element 4 from the set {1,2,3,4}
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [9]:
#Q.19 Write a code to find the union of two sets {1,2,3} and {3,4,5}.
set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [10]:
#Q.20 Write a code to find the intersection of two set {1,2,3} and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [11]:
#Q.21 Write a code to create a dictionary with the keys "name", "age", and "city" and print it.
dict1 = {"name":"rakesh","age":20,"city":"pune"}
print(dict1)
type(dict1)

{'name': 'rakesh', 'age': 20, 'city': 'pune'}

dict

In [13]:
#Q.22 Write a code  to add a new key-value pair "country":"USA" to the dictionary {"name":"Jone", "age":25}
dict1 = {"name":"Jone", "age":25}
dict1["country"] = "USA"
print(dict1)

{'name': 'Jone', 'age': 25, 'country': 'USA'}

In [14]:
#Q.23 Write a code to access the value associated with the key "name" in the dictionary {"name":"Alice", "age":30}
dict1 = {"name":"Alice", "age":30}
print(dict1["name"])

Alice

In [15]:
#Q.24 Write a code to remove the key "age" from the dictionary {"name": "Bob", "age":22, "city":"New york"}
dict1 = {"name": "Bob", "age":22, "city":"New york"}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New york'}

In [16]:
#Q.25 Write a code to check if the key "city" exists in the dictionary {"name":"Alice", "city":"paris"}
dict1 = {"name":"Alice", "city":"paris"}
if "city" in dict1:
  print("city is in dict1")
else:
  print("city is not in dict1")

city is in dict1

In [18]:
#Q.26 Write a code to create a list, a tuple and a dictionary and print them all.
list1 = [1,2,3,4]
print(list1)
type(list1)
tuple1 = (1,2,3,4)
print(tuple1)
type(tuple1)
dict1 = {"name":"rakesh","age":20,"city":"pune"}
print(dict1)
type(dict1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'rakesh', 'age': 20, 'city': 'pune'}

dict

In [24]:
#Q.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.
no = 5
a = 1 # starting num
b = 100 # ending num
c = [random.randint(a,b) for i in range(no)]
c.sort()
print(c)

[40, 44, 65, 66, 93]

In [26]:
#Q.28 Write a code to create a list with strings and print the element at the third index.
a = ["apple", "banana", "mango", "lichi", "potato"]
print(a[3])

lichi

In [29]:
#Q.29 Write a code to combine two dictionaries into one and print the result.
dict1 = {"veg":"potato","price":20}
dict2 = {"name":"Jone", "age":25}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'veg': 'potato', 'price': 20, 'name': 'Jone', 'age': 25}

In [31]:
#Q.30 Write a code to convert a list of strings into a set.
list1 = ["rakesh", "rajib", "mona", "sudip","surjo"]
c = set(list1)
print(c)
type(c)

{'mona', 'rajib', 'sudip', 'rakesh', 'surjo'}

set